$main-color: #CACB98;
$background-color: #fff;
$main-text-color: #2A3A27;
$generic-text-color: #CACB98;
$generic-text-accent-color: #fff;

$home-image: url('../images/theme-pics/paralax-sea-green-3.jpg');
$paralax-slice-1: url('../images/theme-pics/chicago_river_paralax.jpg');
$paralax-slice-2: url('../images/theme-pics/paralax-grey-2.jpg');
$paralax-slice-3: url('../images/theme-pics/paralax-grey-3.jpg');
$paralax-slice-4: url('../images/theme-pics/chicago_blur_paralax.jpg');
$paralax-slice-5: url('../images/theme-pics/lyon_paralax.jpg');
$logo: url('../images/rc_logo_1.png');

@import 'design';
