$main-color: #76DE93;
$background-color: #fff;
$main-text-color: #000;
$generic-text-color: #000;
$generic-text-accent-color: #000;

$home-image: url('../images/theme-pics/paralax-sea-green-3.jpg');
$paralax-slice-1: url('../images/theme-pics/paralax-1.jpg');
$paralax-slice-2: url('../images/theme-pics/paralax-grey-2.jpg');
$paralax-slice-3: url('../images/theme-pics/paralax-grey-3.jpg');
$paralax-slice-4: url('../images/theme-pics/paralax-4.jpg');
@import 'design';
