$main-color: #003399;
$background-color: #cccc99 ;
$main-text-color: #fff;
$generic-text-color: #D7E9F3;
$generic-text-accent-color: #CFE0E8;

$home-image: url('../images/theme-pics/paralax-sea-green-3.jpg');
$paralax-slice-1: url('../images/theme-pics/chicago_river_paralax.jpg');
$paralax-slice-2: url('../images/theme-pics/paralax-grey-2.jpg');
$paralax-slice-3: url('../images/theme-pics/paralax-grey-3.jpg');
$paralax-slice-4: url('../images/theme-pics/chicago_blur_paralax.jpg');
$paralax-slice-5: url('../images/theme-pics/lyon_paralax.jpg');
@import 'design';
