<div class="col-sm-4">
  <article>
    <div><img src="images/team/hempel.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Rachel L. Hempel</h3>
      <p>Rachel L. Hempel has concentrated exclusively in the area of Illinois family law throughout her entire practice. While her goal is always to obtain favorable results for her client, she never forgets that her client is but one part of a larger family picture. Ms. Hempel draws on thirteen years of practice, as well as her own life experiences as a mother and as a child of divorce to help create, when possible, an environment where parties can interact and cooperate with each other in a civil nature long after her job is finished.</p>
      <p>Ms Hempel’s professional career includes extensive experience in litigating and negotiating financial and custody arrangements in a wide variety of cases, including custody and visitation issues, division of property, assets, business interests and spousal and child support.  When RCA clients need a retirement account divided, she serves as the firm’s principal attorney for drafting the necessary Qualified Domestic Relations Order (QDRO) and making sure that the language complies with the numerous legal formalities required by company plan administrators.</p>
      <p>Ms Hempel is originally from Michigan. She attended Saint Joseph College in Rensselaer, Indiana and graduated, magna cum laude, in 1998 with a B.A. in Political Science and a minor in Communications. Ms. Hempel received a Juris Doctor Degree from Depaul University College of Law, in Chicago, Illinois, in 2001 and was admitted to the Illinois Bar in October of 2001.</p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li> <a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i> </a> </li>
        <li> <a href="https://www.linkedin.com/pub/rachel-hempel/7/60/958" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i> </a> </li>
      </ul>
    </div>
  </article>
</div>