<!-- about us -->
<section class="slice noPaddingBottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>About us</h1>
        <h2 class="subTitle">Ashley is a versatile one page website template</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4"> <img src="images/team/about_us.png" alt="services" class="img-responsive"> </div>
      <div class="col-sm-4">
        <h2>Reed, Centracchio & Associates</h2>

        <p>REED, CENTRACCHIO & ASSOCIATES, LLC. represents clients in complex divorce matters, contentious child custody proceedings, and child support cases for both custodial and non-custodial parents. The firm also provides services to those who wish to mediate their differences or dissolve their relationship on an amicable basis. The firm’s clientele range from high income business owners to single parents attempting to collect child support that has been owed to them for years.</p>
        <p>For high asset cases where income and property are at issue, RCA attorneys work closely with skilled forensic accountants and private investigators to untangle complex financial issues, value business interests, and determine issues of maintenance and dissipation for settlement, emergency relief, or trial. The firm believes strongly in a team approach to all major issues and never loses sight of the fact that the client is always the most important member of the team.</p>
      </div>

      <div class="col-sm-4">
        <h2>Areas and Lanugages of Service</h2>
        <p>REED, CENTRACCHIO & ASSOCIATES, LLC provides professional services in Illinois for individuals located in the United States, the European Union, and Canada. Correspondence is welcome in English, French, Spanish, and Cantonese.</p>
      </div>
    </div>

    <div class="row mt30"></div>
  </div>
</section>
<!-- about us -->
