<!-- about us -->
<section class="slice noPaddingBottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>About us</h1>
        <h2 class="subTitle">Ashley is a versatile one page website template</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4"> <img src="images/theme-pics/services.png" alt="services" class="img-responsive"> </div>
      <div class="col-sm-4">
        <h2>Build your website, now!</h2>

        <p>This did not seem to encourage the witness at all: he kept shifting  from one foot to the other, looking uneasily at the Queen, and in  his confusion he bit a large piece out of his teacup instead of the  bread-and-butter.
        </p>

        <p>Just at this moment Alice felt a very curious sensation, which puzzled  her a good deal until she made out what it was: she was beginning to  grow larger again, and she thought at first she would get up and leave  the court; but on second thoughts she decided to remain where she was as  long as there was room for her.'Have you guessed the riddle yet?' the Hatter said, turning to Alice again.
        </p>
      </div>

      <div class="col-sm-4">
        <h2>Ashley website template</h2>
        <p> The Hatter's remark seemed to have no sort of meaning in it, and yet it was certainly English. 'I don't quite understand you,' she said, as politely as she could. 'The Dormouse is asleep again,' said the Hatter, and he poured a little hot tea upon its nose. </p>
        <h3>I don't quite understand you</h3>
        <p> The Dormouse shook its head impatiently, and said, without opening its eyes, 'Of course, of course; just what I was going to remark myself.'  </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 mt30">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Heads up!</strong> This template comes with all the features you need. <a href="features.html" class="alert-link portfolioSheet">check them here</a>
        </div>
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-8">
        <div class="jumbotron">
          <div class="container">
            <h2> You will fall in love with Ashley!</h2>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-lg" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">Buy me now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-xs">
        <img src="images/theme-pics/home-girl.png" alt="Ashley, Bootstrap website template" class="img-responsive">
      </div>
    </div>
  </div>
</section>
<!-- about us -->
