<!-- call to action -->
<div class="container mb15">
  <div class="row">
    <div class="col-md-12">
      <div class="color1 ctaBox ">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1>
                <strong>Ashley Bootstrap Website Template</strong> is perfect for simple and clean presentation of your business.
              </h1>

            </div>
            <div class="col-md-4">
              <a class="btn btn-lg" title="" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207" target="blank">
                <i class="icon-flash"></i> purchase now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- call to action -->
