<!-- content -->
<section id="homeFullScreen" data-stellar-background-ratio="0.5">
  <div class="maskParent" >
    <div class="paralaxMask"></div>
    <div id="fullScreenSliderWrapper">
      <div id="logoBig">
        <img class="img-responsive" src="images/logo_200.png" alt="Reed Centraccio" />
      </div>

      <div class="flexslider" id="flexHome">
        <ul class="slides">
          <li>
            <h1>This is line 1</h1>
          </li>
          <li>
            <h1>This is line 2</h1>
          </li>
          <li>
            <h1>This is line 3</h1>
          </li>
        </ul>
      </div>
      <a href="#about" class="homeBtn btn"><i class="icon-down"></i>learn more</a>
    </div>
  </div>
</section>
