<section class="slice"  id="contactSlice" >
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="noSubtitle">Contact us</h1>
      </div>

      <div class="col-sm-4">
        <h4>Address:</h4>
        <address>
          Reed Centracchio, LLC<br/>
          70 E. Lake St., Suite 500<br/>
          Chicago, IL 60601</br>
        </address>
        <h4>Phone:</h4>
        <address>
          312.551.1552<br/>
        </address>
      </div>
      <form method ="post" action="http://formspree.io/matt@averails.com" role="form">
        <input type='hidden' name='_next' value='http://www.recent-law.com/thankyou.html' />
        <input type="hidden" name="_subject" value="New contact from the Website" />
        <div class="col-sm-4">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"  title="Please enter your name (at least 2 characters)"/>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address"/>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input name="phone" class="form-control required digits" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="comments">Comments</label>
            <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
            <input type="text" id="additional_comments" name="_gotcha" style="display:none" />
          </div>
        </div>
        <div class="col-md-8 col-md-offset-4">
          <div class="result"></div>
          <button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
