<!-- footer -->
  <footer class="color4">
    <section id="mainFooter">
      <div class="container" id="footer">
        <div class="row">
          <div class="col-sm-4">
            <div class="footerWidget">
              <img src="images/logo_100.png" id="footerLogo">
              <p>REED, CENTRACCHIO & ASSOCIATES, LLC provides professional services in Illinois for individuals located in the United States, the European Union, and Canada. Correspondence is welcome in English, French, and Spanish.</p>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="footerWidget">
              <h3>Reed, Centracchio & Associates, LLC</h3>
              <address>
                <p> <i class="icon-location"></i>&nbsp;70 E. Lake St., Suite 500, <br>
                  Chicago, IL 60601 USA<br>
                  <i class="icon-phone"></i>&nbsp;Tel. 312.551.1552 <br>
                  <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:info@recent-law.com">info@recent-law.com</a>
                </p>
              </address>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="footerWidget">
              <h3>We're social</h3>
              <ul class="socialNetwork pull-right">
                <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow us on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                <li><a href="#" class="tips" title="follow us on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section>
  </footer>
  <section  id="footerRights">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>Copyright © 2014 <a href="http://www.recent-law.com" target="blank">Recent Law</a> / All rights reserved.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- End footer -->
