<!-- footer -->
  <footer class="color4">
    <section id="mainFooter">
      <div class="container" id="footer">
        <div class="row">
          <div class="col-sm-4">
            <div class="footerWidget">
              <img src="images/logo_100.png" alt="latest Little Neko news" id="footerLogo">
              <p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practises and up-to-date web technologies to create great user experiences. We love what we do and we hope you too ! </p>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="footerWidget">
              <h3>Little NEKO</h3>
              <address>
                <p> <i class="icon-location"></i>&nbsp;70 E. Lake St., Suite 500, <br>
                  Chicago, IL 60601 USA<br>
                  <i class="icon-phone"></i>&nbsp;Tel. 312.551.1552 <br>
                  <i class="icon-phone"></i>&nbsp;Fax  312.551.1559 <br>
                  <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:info@recent-law.com">info@recent-law.com</a>
                </p>
              </address>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="footerWidget">
              <h3>We're social</h3>
              <ul class="socialNetwork pull-right">
                <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                <li><a href="https://twitter.com/LIttleNeko1" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a></li>
                <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                <li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section>
  </footer>
  <section  id="footerRights">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>Copyright © 2014 <a href="http://www.recent-law.com" target="blank">Recent Law</a> / All rights reserved.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- End footer -->
