<!-- services -->
<section class="slice color4" id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Our services</h1>
        <h2 class="subTitle">Providing Quality Representation in All Areas of Family Law</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 ">
        <article class="boxFeature-2">
          <i class="icon-star iconBig"></i>
          <h2>Clean design</h2>
          <p>Elegant layouts that help you organize your content in the best way</p>
        </article>
      </div>

      <div class="col-md-3 col-sm-6">
        <article class="boxFeature-2">
          <i class="icon-code-outline iconBig"></i>
          <h2>HTML5 & CSS3</h2>
          <p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
        </article>
      </div>

      <div class="col-md-3 col-sm-6">
        <article class="boxFeature-2">
          <i class="icon-th-large-outline iconBig"></i>
          <h2>Responsive design</h2>
          <p>Compatible with various desktop, tablet, and mobile devices.</p>
        </article>
      </div>

      <div class="col-md-3 col-sm-6">
        <article class="boxFeature-2">
          <i class="icon-pencil iconBig"></i>
          <h2>Easy Customization</h2>
          <p>Clear code and documentation, base on Bootstrap 3</p>
        </article>
      </div>

    </div>
  </div>
</section>
<!-- services -->
