<section class="slice" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Meet our team</h1>
        <h2 class="subTitle">We Can Handle Any Size Case, No Matter How Complex</h2>
      </div>
      <div class="row">
        {% include team/reed.html %}
        {% include team/centracchio.html %}
      </div>
      <div class="row">
        {% include team/cassidy.html %}
        {% include team/karjaka.html %}
      </div>
      <div class="row">
        {% include team/saylors.html %}
        {% include team/seaholm.html %}
      </div>
      <div class="row">
        {% include team/siddiqui.html %}
      </div>
    </div>
  </div>
</section>
