<section class="slice" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Meet our team</h1>
        <h2 class="subTitle">We are beautiful and smart</h2>
      </div>

      <div class="col-sm-4">
        <article>
          <div><img src="images/team/pic2.jpg" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Johanna Newsom</h3>
            <p>Salesman</p>
          </div>
          <div class="boxContent color1"> <a href="mailto:your.email@little-neko.com">j.newsom@ashley.com</a>
            <ul class="socialNetwork mt15">
              <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Tumblr"><i class="icon-tumblr-1 iconRounded"></i></a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article>
          <div><img src="images/team/pic3.jpg" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Alexander Doe</h3>
            <p>Graphic designer</p>
          </div>
          <div class="boxContent color1"> <a href="mailto:your.email@little-neko.com">a.doe@ashley.com</a>
            <ul class="socialNetwork mt15">
              <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
              <li><a href="#" class="tips" title="" data-original-title="follow me on YouTube"><i class="icon-youtube iconRounded"></i></a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article>
          <div><img src="images/team/pic4.jpg" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Pamela Anderson</h3>
            <p>Programmer</p>
          </div>
          <div class="boxContent color1"> <a href="mailto:your.email@little-neko.com">p.anderson66@ashley.com</a>
            <ul class="socialNetwork mt15">
              <li> <a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a> </li>
              <li> <a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a> </li>
              <li> <a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a> </li>
              <li> <a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i> </a> </li>
              <li> <a href="#" class="tips" title="" data-original-title="follow me on Flickr"><i class="icon-flickr iconRounded"></i> </a> </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
