<section class="slice" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Meet our team</h1>
        <h2 class="subTitle">We Can Handle Any Size Case, No Matter How Complex</h2>
      </div>
      <div class="col-sm-6">
        <article>
          <div><img src="images/team/reed.png" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Bryan Reed</h3>
            <p>Bryan V. Reed has nearly twenty-two years of trial experience in state and federal courts.  He is admitted and authorized to practice before the United States Supreme Court; all state courts throughout Illinois; the U.S. District Court, Northern District of Illinois; the U.S. Court of Appeals, Seventh Circuit; and the Federal Trial Bar.</p>
            <p>Whether a high asset divorce, a complex custody matter, a substantial maintenance issue, or a large child support collection case, Mr. Reed draws from strategies that he has successfully honed in countless courtroom trials. To augment his litigation skills, Mr. Reed periodically chairs arbitration cases, where he governs the proceedings, rules on objections and admissibility of evidence, and leads the panel in determining an award.</p>
            <p>International clients value Bryan V. Reed’s understanding of foreign languages and culture and find that they relate easily to him. Prior work assignments in France, Germany, and the United Kingdom have enabled Mr. Reed to establish a strong rapport with clients from nearly every EU country, as well as Canada, and many other countries around the world.  He meets with clients in the firm’s affiliated office in Lyon, France, on an as-needed basis.</p>
            <p>Bryan V. Reed was born in Takoma Park, Maryland. He graduated from the University of Louisville with a B.S. degree in political science and from NKU Salmon P. Chase College of Law in the greater Cincinnati area with a Juris Doctor degree. In addition to his current firm, he has also been a managing partner in three prior law firms.</p>
            <h3>Accomplishments</h3>
            <p>Publications: Numerous articles as a family law columnist in the newspaper “Hi India”; A Proactive Approach to International Collections, as seen in publications by the Belgian Trade Commission and the Swiss-American Business council; and various part articles and attorney profiling in Divorce Magazine.</p>
            <p>Speaking Engagements: The Chicago Bar Association International and Foreign Law Committee (International Marriage and Divorce Issues – May 2013); Union des Français de l’Étranger section Chicago (UFEC) (Planning for the future; dealing with the past. Advice from a family law attorney on making the best of international relationships – September 2013); and other family law presentations for non-profit organizations.</p>
            <p>Affiliations: Illinois State Bar Association, Chicago Bar Association, and DuPage County Bar Association.</p>
            <p>Practice Areas: All areas of family law</p>
            <p>Languages: French</p>
            <p>E-mail: Provided upon request. See our Contact Us page.</p>
            <p><a href="http://www.avvo.com/attorneys/60601-il-bryan-reed-1128286.html"><img alt="Find a Lawyer" height="60" src="http://www.avvo.com/assets/content/logolarge2.gif" width="120" /></a></p>
          </div>
          <div class="boxContent color1">
            <ul class="socialNetwork mt15">
              <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
              <li><a href="https://www.linkedin.com/in/bryanvreed/" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-6">
        <article>
          <div><img src="images/team/centracchio.png" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Nicole L. Centracchio</h3>
            <p>Nicole Centracchio has litigated family law cases in Illinois courts since 2000 and is widely respected by her colleagues, some of whom tell her she would make a great judge.  Ms. Centracchio’s experience is concentrated in family law matters.  She is a licensed and approved Guardian ad Litem and Child’s Representative in Cook County, frequently appointed by judges on complex custody cases.  She is also approved by the Circuit Court of Cook County as a Financial and Custody Divorce Mediator.  Ms. Centracchio has served as a courtroom facilitator in the Cook County Court System where she uses these skills to assist couples with resolving issues and conflicts. She deals with all aspects of divorce issues including contested custody, visitation and financial issues.</p>
            <p>As a founding member of this firm, Ms. Centracchio is very committed to providing excellent service to her clients.  She takes pride in advising individuals of the most efficient and cost effective way to handle their specific needs.</p>
            <p>Ms. Centracchio has extensive experience in litigating and negotiating custody arrangements in a wide variety of cases, including very complex situations where the children’s well being may be at risk. Her first concern in any family law case is to put the children of the marriage first. Intertwined in this concern, is her extensive experience in resolving and litigating the financial aspects, including the division of property, assets, business interests and spousal and child support.</p>
            <p>Ms. Centracchio provides services to all couples who would like to try to amicably resolve certain contested issues without going through the protracted litigation process. She also has experience handling same sex divorce matters and prenuptial agreements.  In every case she is sensitive to the specific needs of the client. </p>
            <p>Ms. Centracchio also focuses on the collection of past due child support from parents that have been delinquent in their obligations, the most serious of cases deal with parents who have failed to pay for more than a decade. She has been extremely successful in tracking down and collecting significant sums of money for parents who previously believed these amounts to be uncollectible.</p>
            <p>Ms. Centracchio was born in Chicago, IL, and graduated from Lake Forest College in Lake Forest, IL with a B.S. degree in philosophy. Ms. Centracchio then attended and received a J.D. from John Marshall Law School in Chicago, IL, and graduated in January of 2000. Ms. Centracchio was admitted to the Illinois Bar in May of 2000, and then to the U.S. Northern District of Illinois. Ms. Centracchio was also admitted to the Massachusetts Bar in 2003.</p>
            <p>Affiliations: Illinois State Bar Association; and Chicago Bar Association, Justinian Society.</p>
            <p>Practice Areas: All areas of family law.</p>
            <p>E-mail: Provided upon request. See our Contact Us page.</p>
            <p><a href="http://www.avvo.com/attorneys/60601-il-nicole-centracchio-1099784.html"><img alt="Find a Lawyer" height="60" src="http://www.avvo.com/assets/content/logolarge2.gif" width="120" /></a></p>
          </div>
          <div class="boxContent color1">
            <ul class="socialNetwork mt15">
              <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
              <li><a href="https://www.linkedin.com/pub/nicole-centracchio/4/440/a40" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article>
          <div><img src="images/team/harvey.png" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Tania K. Harvey</h3>
            <p>Tania K. Harvey (formerly Tania K. Gray) works exclusively in the area of family law and appellate practice and is also frequently appointed in Cook County as a child representative and guardian ad litem representing the best interest of children. In addition to serving the needs of her clients, Ms. Harvey is very active with the John Marshall Law School as an adjunct faculty member and with the Alumni Association.</p>
            <p>Ms. Harvey earned her Juris Doctor from the John Marshall Law School in June, 2003 and was admitted to the Illinois Bar in May, 2004.  She has written numerous appellate briefs, argued before the Appellate Court and also appealed to the Illinois Supreme Court.</p>
            <p>Ms. Harvey earned her Bachelor of Science from Miami University of Ohio in June, 2000, majoring in business with a minor in criminology.</p>
            <p>Ms. Harvey is currently a member of the Illinois and Chicago Bar Association of Illinois. Ms. Harvey was the Co-chair of the Young Lawyer’s Section of Family Law of the Chicago Bar Association for two years and served as a Special Projects Coordinator for the Chicago Bar Association. Ms. Harvey was selected as an Illinois Rising Star in 2012, 2013, and 2015 by Super Lawyers, a rating service of outstanding lawyers from more than 70 practice areas who have attained a high-degree of peer recognition and professional achievement, based on a selection process that is multi-phased and includes independent research, peer nominations and peer evaluations.</p>
            <p>E-mail: Provided upon request. See our Contact Us page.</p>
          </div>
          <div class="boxContent color1">
            <ul class="socialNetwork mt15">
              <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
              <li><a href="https://www.linkedin.com/in/taniakharvey" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article>
          <div><img src="images/team/oconnor.png" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Mallory O’Connor</h3>
            <p>Mallory O’Connor has practiced exclusively in the area of family law since graduating from Loyola University Chicago School of Law and gaining admission to the Illinois Bar in 2011.</p>
            <p>As the recipient of Loyola’s Civitas Child Law Fellowship and the Child and Family Law Certificate, Ms. O’Connor focused on issues pertaining to children and families throughout her legal education. Through her internships with the Cook County Public Guardian’s Office and her participation in Loyola’s Civitas Child Law Clinic, she assisted with the representation of children in both child protection as well as domestic relations cases. Ms. O’Connor was also involved with the Children’s Legal Rights Journal as a Junior/Senior Editor, and was an active member of the Child Law Society.</p>
            <p>As a practitioner, Ms. O’Connor focuses on the litigation and negotiation of complex custody and financial issues in domestic relations and parentage cases, and assists with the representation of children in these matters as well. She is also an adjunct professor at Loyola University Chicago School of Law, where she teaches a writing course focused on child and family law-related issues. Ms. O’Connor is the Co-Chair of the Chicago Bar Association Young Lawyers Section Family Law Committee and is also a member of the Illinois State Bar Association.</p>
          </div>
          <div class="boxContent color1">
            <ul class="socialNetwork mt15">
              <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
              <li> <a href="https://www.linkedin.com/in/malloryaoconnor/" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i> </a> </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article>
          <div><img src="images/team/hempel.png" alt="" class="img-responsive"></div>
          <div class="boxContent color4">
            <h3>Rachel L. Hempel</h3>
            <p>Rachel L. Hempel has concentrated exclusively in the area of Illinois family law throughout her entire practice. While her goal is always to obtain favorable results for her client, she never forgets that her client is but one part of a larger family picture. Ms. Hempel draws on thirteen years of practice, as well as her own life experiences as a mother and as a child of divorce to help create, when possible, an environment where parties can interact and cooperate with each other in a civil nature long after her job is finished.</p>
            <p>Ms Hempel’s professional career includes extensive experience in litigating and negotiating financial and custody arrangements in a wide variety of cases, including custody and visitation issues, division of property, assets, business interests and spousal and child support.  When RCA clients need a retirement account divided, she serves as the firm’s principal attorney for drafting the necessary Qualified Domestic Relations Order (QDRO) and making sure that the language complies with the numerous legal formalities required by company plan administrators.</p>
            <p>Ms Hempel is originally from Michigan. She attended Saint Joseph College in Rensselaer, Indiana and graduated, magna cum laude, in 1998 with a B.A. in Political Science and a minor in Communications. Ms. Hempel received a Juris Doctor Degree from Depaul University College of Law, in Chicago, Illinois, in 2001 and was admitted to the Illinois Bar in October of 2001.</p>
          </div>
          <div class="boxContent color1">
            <ul class="socialNetwork mt15">
              <li> <a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i> </a> </li>
              <li> <a href="https://www.linkedin.com/pub/rachel-hempel/7/60/958" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i> </a> </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
