<!-- call to action -->
<div class="container mb15">
  <div class="row">
    <div class="col-md-12">
      <div class="color1 ctaBox ">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1>
                <strong>Thank you!</strong> we have sent your e-mail.
              </h1>

            </div>
            <div class="col-md-4">
              <a class="btn btn-lg" title="" href="/">
                <i class="icon-home"></i> Go Back!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- call to action -->
