<section class="slice" id="works">
  <div class="container clearfix">
    <div class="row">
      <div class="col-sm-12">
        <h1>Our Services</h1>
      </div>
      <nav id="filter" class="col-md-12 text-center">
        <ul>
          <li><a href="" class="current btn btn-sm" data-filter="*">All</a></li>
          <li><a href="" class="btn btn-sm" data-filter=".divorce">Divorce</a></li>
          <li><a href="" class="btn btn-sm" data-filter=".advisement">International Advisement</a></li>
          <li><a href="" class="btn btn-sm" data-filter=".custody">Custody & Support</a></li>
          <li><a href="" class="btn btn-sm" data-filter=".mediation">Mediation</a></li>
        </ul>
      </nav>
    </div>

    <div class="portfolio-items isotopeWrapper clearfix imgHover row" id="3">
      <article class="col-sm-4 isotopeItem divorce">
        <section class="imgWrapper">
          <img alt="" src="images/works/divorce_1.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>Divorce</h3>
          <p>At REED, CENTRACCHIO & ASSOCIATES, LLC, we never lose sight of the fact that divorce is both serious
            business and raw emotion. As you go through the most difficult time in your life, you need a law firm
            that is dependable, accessible, skilled, and proactive. You need a firm that listens to you and
            understands your objectives and fears. You need a team.</p>
          <p>RCA gets results because it guides its clients through a complex process only after first putting
            together an attorney-client team with a clear strategy and objective. We listen to our clients, provide
            candid advice, and give our clients knowledge that allows them to make informed decisions about their
            future. </p>
          <p>Our team is adept at handling a case of any size. While some clients have already negotiated the larger
            parts of an agreement with their spouse, and just want someone to draft the paperwork and shepherd the
            case through the courts, others have issues that require more investigation to locate hidden or
            transferred assets. Whatever the need, RCA offers the depth necessary to determine true business
            valuations, locate funds, accurately appraise real estate, and secure a fair outcome at settlement or
            trial.</p>
          <p>For high asset cases with substantial disagreement, we work closely with experienced forensic
            accountants and private investigators. Together we follow paper trails and use evidence to build a solid
            case for our clients. Simply stated, we earn our reputation for being aggressive, prepared and proactive.</p>
          <p>In every divorce, there is only one outcome. There is only one chance to get it right. The results are
            long lasting and too important to leave to a less diligent firm. Contact us today to learn what our team
            can do for you.</p>
        </section>
      </article>

      <article class="col-sm-4 isotopeItem custody">
        <section class="imgWrapper">
          <img alt="" src="images/works/custody_1.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>Child Support</h3>
          <p>Everyone would agree that children have expensive needs and require support. However, the amount of
            support that should be paid is frequently an issue of intense debate. Although child support might seem
            obvious and simple to the casual observer, having a seasoned practitioner on your side can mean a
            substantial difference in your bank balance over time.</p>
          <p>It is widely known that Illinois now uses income sharing models which serve as guidelines for the amount
            of support that should be paid, but not everyone understands that the court has the discretion under
            certain circumstances to order the obligor to pay more or less than the statutory guidelines. Even for
            the most straight forward case, it is important that your attorney take all factors into account on your
            behalf. How should bonus money, overtime, fluctuating income, or commissions be treated? What about the
            many tax issues at play? What about self-employment cases? And what about other expenses such as
            childcare, school tuition, health insurance premiums, uncovered medical expenses, and multiple family
            situations?</p>
          <p>In additional to quickly and decisively establishing child support obligations that are fair to both
            those who pay and those who receive support, RCA attorneys have distinguished themselves by collecting an
            astonishing amount of support arrears from "deadbeat parents." RCA gets results because its attorneys
            have an intimate working knowledge of both family law and collection law, and the tools each area offers
            to maximize recovery by locating non-custodial parents, finding their assets, and using state and federal
            child support laws to ensure payment.</p>
          <p>For many years, child support experts have turned to RCA when they needed help in Chicago. If you have
            child support issues, we urge you to take it seriously. We welcome your call.</p>
        </section>
      </article>

      <article class="col-sm-4 isotopeItem advisement">
        <section class="imgWrapper">
          <img alt="" src="images/works/advisement_1.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>International Advisement</h3>
          <p>REED, CENTRACCHIO & ASSOCIATES, LLC provides professional services in Illinois for individuals located
            in the United States and is informally affiliated with the independent law office of Isabelle Gandonniere
            in Lyon, France; Marco Calabrese in Rome, Italy; and Carlo Bottino in Milan, Italy.</p>
          <p>Bryan V. Reed maintains an understanding of foreign languages and cultures that prove valuable to RCA’s
            clients. Having traveled to nearly every country in the EU and performed work assignments in France,
            Germany, and the United Kingdom, Mr. Reed understands the international issues that confront divorce
            clients whose dissolution actions might touch or concern more than one country. Drawing on such
            experience, Mr. Reed recently succeeded in winning a landmark decision for one of his clients, where
            following two weeks of trial on the issue and extensive oral arguments before the Appellate Court,
            Illinois for the first time in history dismissed a divorce case and sent it to another country (France)
            on the basis of forum non-conveniens.</p>

        </section>
      </article>

      <article class="col-sm-4 isotopeItem mediation">
        <section class="imgWrapper">
          <img alt="" src="images/works/mediation_2.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>Mediation</h3>
          <p>Not every couple wants to engage in a War of the Roses version of divorce or have their differences and
            private matters aired in open court. For those couples still unable to come to an agreement, RCA offers
            mediation services with Nicole Centracchio, one of the firms managing partners. Ms. Centracchio is a
            certified mediator who has the skills and patience to work toward a fair agreement where each party will
            rightly know that he/she has controlled their own outcome in the case, as opposed to submitting their
            future to the hands of a judge that may never have the opportunity to fully understand their situation.</p>
          <p>Having received her accreditation and training through Northwestern University in Chicago, Ms.
            Centracchio follows professional and ethical practices to maintain a dignified setting where fairness,
            respect, and minimization of conflict are the ultimate goals. She believes that the process works not
            only to maintain peace of mind, but also to promote a friendly, working or co-parenting relationship post
            divorce. This level of cooperation is especially important for those parties who have children.</p>
        </section>
      </article>

      <article class="col-sm-4 isotopeItem custody">
        <section class="imgWrapper">
          <img alt="" src="images/works/custody_2.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>Child Custody</h3>
          <p>There is no issue as contentious or one more likely to drain your emotions as a custody battle (known in
            courts as an allocation of parental responsibilities). Before you begin, you need an objective assessment
            of your own strengths and weaknesses. You need a team that will give you honest advice and a good
            cost-benefit analysis. And you need a team that has the "know how" to get you across the finish line.</p>
          <p>At REED, CENTRACCHIO & ASSOCIATES, LLC, we have a track record of turning "unwinnable" cases into
            victories. Some of our greatest custody achievements have started with clients already accused and
            outwardly judged of heinous acts they did not commit. By listening to our clients, getting to the truth,
            and planning our strategy, we turned cases nobody wanted into cases where our clients won custody.</p>
          <p>In addition to the experience of all RCA attorneys, Nicole Centracchio, one of the firm’s managing
            partners, is frequently appointed by judges to represent children in court as a guardian ad litem or
            child’s representative attorney. Putting children first and maintaining a good reputation for honesty and
            diligence benefits our clients in our work both inside and outside the courtroom.</p>
          <p>No matter how good the team, there are times when the facts do not support a move for custody; at least
            at the present time. Clients deserve honest advice on this issue, irrespective of what they might want to
            hear. To that end, RCA attorneys give their clients candid opinions on the strengths and weaknesses of
            their case. All too often other firms allow their clients to maintain unlikely visions of victory.
            Eventually, those dreams burst, but only after a great deal of money and mental anguish have been spent.
            At RCA, we believe that timing in custody is important and "know how" often means "know when."" We would
            welcome an opportunity to discuss your chances for success.</p>
        </section>
      </article>

      <article class="col-sm-4 isotopeItem divorce">
        <section class="imgWrapper">
          <img alt="" src="images/works/divorce_2.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>Prenuptial Agreements</h3>
          <p>If failing to plan is truly planning to fail, then prenuptial agreements are a critical component of a
            successful marriage...and should the unexpected happen...a successful divorce.</p>
          <p>While very few people exchange vows anticipating that a divorce is down the road, statistics tell us
            that nearly half of all first time marriages do in fact end in divorce. The numbers are even higher for
            subsequent marriages. Having a well thought out blueprint to follow during the marriage can only help
            provide stability and prevent arguments. For example, how during the marriage will you and your future
            spouse treat premarital assets, inheritance, marital income and expenses, and other assets such as real
            estate, financial investments, retirement and the like? Who will be expected to contribute to marital
            expenses and in what percentage? If one party owns the marital residence, who contributes to the mortgage
            and pays down the principal? And will it ever become marital property? Further, if you divorce, how will
            these same assets be treated upon dissolution of your marriage? What about spousal support? How will a
            family business be valued?</p>
          <p>Second and third marriages add an even greater level of complexity to the situation, if there are
            children from other relationships that stand to inherit. In such a situation, you arguably have a
            responsibility to your children to make sure that the euphoria you feel today doesn’t leave them
            unprotected in the future.</p>
          <p>Clearly, one needs only a marriage license to marry. Entering into the contract of marriage is easy, yet
            what comes after the "I do’s" is everyday life, which can be complicated. Even worse, divorce can be a
            nightmare. Having a good prenuptial agreement can avoid arguments, stress, and financial losses.</p>
          <p>RCA has drafted many prenuptial agreements and takes pride in working with clients to mold each one to
            meet the client’s needs. If you are a responsible person and wish to discuss planning your future, we
            invite you to contact us.</p>
        </section>
      </article>

      <article class="col-sm-4 isotopeItem advisement divorce custody mediation">
        <section class="imgWrapper">
          <img alt="" src="images/works/advisement_2.jpg" class="img-responsive">
        </section>
        <section class="boxContent">
          <h3>Nondiscriminatory Representation</h3>
          <p>Reed, Centracchio & Associates, LLC is a family law firm, representing families from all over the world
            in all shapes, sizes, colors, faiths, and sexual orientation. We do not discriminate against any person
            or groups of people but instead zealously represent the interests of our clients within the parameters of
            the law. We enjoy helping others and hope that we may be of assistance to you. </p>
        </section>
      </article>

    </div>
  </div>
</section>