<section class="slice" id="works">
  <div class="container clearfix">
    <div class="row">
      <div class="col-sm-12">
        <h1>Our Services</h1>
        <h2 class="subTitle">Our Services</h2>
      </div>
      <nav id="filter" class="col-md-12 text-center">
        <ul>
          <li><a href="" class="current btn btn-sm" data-filter="*">All</a></li>
          <li><a href=""  class="btn btn-sm" data-filter=".divorce" >Divorce</a></li>
          <li><a href=""  class="btn btn-sm" data-filter=".advisement">International Advisement</a></li>
          <li ><a href="" class="btn btn-sm" data-filter=".custody">Custody & Support</a></li>
          <li ><a href="" class="btn btn-sm" data-filter=".mediation">Mediation</a></li>
        </ul>
      </nav>

      <div class="portfolio-items  isotopeWrapper clearfix imgHover" id="3">
        <article class="col-sm-4 isotopeItem mediation">
          <section class="imgWrapper">
            <img alt="" src="images/works/mediation_1.png" class="img-responsive">
          </section>

          <section class="boxContent">
            <h3>Mediation</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem divorce">
          <section class="imgWrapper">
            <img alt="" src="images/works/divorce_1.png" class="img-responsive">
          </section>
          <section class="boxContent">
            <h3>Divorce</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem custody">
          <section class="imgWrapper">
            <img alt="" src="images/works/custody_1.png" class="img-responsive">
          </section>
          <section class="boxContent">
            <h3>Custody</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem advisement">
          <section class="imgWrapper">
            <img alt="" src="images/works/advisement_1.png" class="img-responsive">
          </section>
          <section class="boxContent">
            <h3>Advisement</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem mediation">
          <section class="imgWrapper">
            <img alt="" src="images/works/mediation_2.png" class="img-responsive">
          </section>
          <section class="boxContent">
            <h3>Mediation</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem custody">
          <section class="imgWrapper">
            <img alt="" src="images/works/custody_2.png" class="img-responsive">
          </section>

          <section class="boxContent">
            <h3>Custody</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem divorce">
          <section class="imgWrapper">
            <img alt="" src="images/works/divorce_2.png" class="img-responsive">
          </section>
          <section class="boxContent">
            <h3>Divorce</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        <article class="col-sm-4 isotopeItem advisement">
          <section class="imgWrapper">
            <img alt="" src="images/works/advisement_2.png" class="img-responsive">
          </section>
          <section class="boxContent">
            <h3>Advisement</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, labore nesciunt cum laboriosam rerum magnam non impedit! Quis molestiae fuga quas sunt aliquam laboriosam, reprehenderit minus magni laborum, beatae cumque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quasi, ipsa nihil, nulla excepturi rem, ut sed repellendus tenetur dicta commodi natus dolorem non sapiente nemo officiis reiciendis libero?</p>
          </section>
        </article>

        </div>
      </div>
    </div>
  </section>
