<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/cass.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Michelle L. Cassidy</h3>
<p>Michelle L. Cass earned her Juris Doctorate, graduating Cum Laude in 2014 from DePaul University College of Law, where she obtained a Specialization Certificate in Family Law and was awarded the Benjamin Hooks Distinguished Service Award for volunteering 200+ hours while attending law school. Ms. Cass is licensed to practice in the State of Illinois and is a member of the Chicago Bar Association and Illinois State Bar Association. Prior to earning her Juris Doctorate, Ms. Cass graduated Magna Cum Laude from Capital University in Columbus, Ohio, earning a Bachelor of Arts in Political Science and Public Administration with a minor in English Literature and History.</p>
<p>While attending DePaul University College of Law, Ms. Cass earned several awards for receiving the highest grade in several courses, including: Legal Analysis, Research and Communication I, II, and III; Trial Advocacy; and, Child Protection, Abuse & Neglect. Ms. Cass also served on the DePaul Journal of Women, Gender, and the Law; participated in a Human Rights Practicum in Chiapas, Mexico; and, participated in and later lead a Service Immersion Trip in New Orleans.</p>
<p>As a practitioner, Ms. Cass focuses exclusively on family law. Her understanding and honest approach serves clients well in cases focused on amicable resolution or more contested matters involving litigation. Ms. Cass also enjoys volunteering in the legal community as a mentor for the Legal Prep Charter Academy through the Chicago Bar Association. She also serves as a Co-Chair for the Chicago Bar Association Young Lawyer’s Section Family Law Committee; as a member of the Family Defense Center’s Young Alumni Board, as a member of the DePaul College of Law Family Law Alumnae Board; and, as Program Coordinator on the Executive Board of the Chicago Bar Association’s Alliance for Women. Ms. Cass prides herself on being actively engaged in community service and as a dedicated, zealous advocate for her clients and their families.</p>
<p><b>Honors:</b> Selected by her peers as a Rising Star Attorney</p>
      <p><a href="https://www.avvo.com/attorneys/60601-il-michelle-cass-4673019.html"><img alt="Find a Lawyer" src="//images.avvo.com/avvo/cms/images/amos_assets/microbadge.png" /></a></p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
        <li><a href="https://www.linkedin.com/in/michelle-cass-a85b6242/" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
      </ul>
    </div>
  </article>
</div>
