<div class="col-sm-6">
  <article>
    <div><img src="images/team/centracchio.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Nicole L. Centracchio</h3>
      <p>Nicole Centracchio has litigated family law cases in Illinois courts since 2000 and is widely respected by her colleagues, some of whom tell her she would make a great judge.  Ms. Centracchio’s experience is concentrated in family law matters.  She is a licensed and approved Guardian ad Litem and Child’s Representative in Cook County, frequently appointed by judges on complex custody cases.  She is also approved by the Circuit Court of Cook County as a Financial and Custody Divorce Mediator.  Ms. Centracchio has served as a courtroom facilitator in the Cook County Court System where she uses these skills to assist couples with resolving issues and conflicts. She deals with all aspects of divorce issues including contested custody, visitation and financial issues.</p>
      <p>As a founding member of this firm, Ms. Centracchio is very committed to providing excellent service to her clients.  She takes pride in advising individuals of the most efficient and cost effective way to handle their specific needs.</p>
      <p>Ms. Centracchio has extensive experience in litigating and negotiating custody arrangements in a wide variety of cases, including very complex situations where the children’s well being may be at risk. Her first concern in any family law case is to put the children of the marriage first. Intertwined in this concern, is her extensive experience in resolving and litigating the financial aspects, including the division of property, assets, business interests and spousal and child support.</p>
      <p>Ms. Centracchio provides services to all couples who would like to try to amicably resolve certain contested issues without going through the protracted litigation process. She also has experience handling same sex divorce matters and prenuptial agreements.  In every case she is sensitive to the specific needs of the client. </p>
      <p>Ms. Centracchio also focuses on the collection of past due child support from parents that have been delinquent in their obligations, the most serious of cases deal with parents who have failed to pay for more than a decade. She has been extremely successful in tracking down and collecting significant sums of money for parents who previously believed these amounts to be uncollectible.</p>
      <p>Ms. Centracchio was born in Chicago, IL, and graduated from Lake Forest College in Lake Forest, IL with a B.S. degree in philosophy. Ms. Centracchio then attended and received a J.D. from John Marshall Law School in Chicago, IL, and graduated in January of 2000. Ms. Centracchio was admitted to the Illinois Bar in May of 2000, and then to the U.S. Northern District of Illinois. Ms. Centracchio was also admitted to the Massachusetts Bar in 2003.</p>
      <p>Affiliations: Illinois State Bar Association; and Chicago Bar Association, Justinian Society.</p>
      <p>Practice Areas: All areas of family law.</p>
      <p>E-mail: Provided upon request. See our Contact Us page.</p>
      <p><a href="http://www.avvo.com/attorneys/60601-il-nicole-centracchio-1099784.html"><img alt="Find a Lawyer" src="//images.avvo.com/avvo/cms/images/amos_assets/microbadge.png" /></a></p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
        <li><a href="https://www.linkedin.com/pub/nicole-centracchio/4/440/a40" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
      </ul>
    </div>
  </article>
</div>
