<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/chloe.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Chloë K. White</h3>
      <p>Chloë K. White earned her Juris Doctorate in 2021 from DePaul University College of Law with a certificate in Family Law and obtained her license to practice law in the same year. While in law school, Ms. White served on the Executive Board of the Child and Family Law Association, and worked as an editor for the DePaul Journal of Healthcare Law.  Ms. White also  participated in the Domestic Violence Practicum to aid victims of domestic violence in obtaining Emergency Orders of Protection. While working with Ascend Justice, Ms. White found her passion of advocating for victims of domestic violence. In addition to DePaul Law, Ms. White studied in Madrid, Spain at the Universidad of Pontificia Comillas, where she focused on European Human Rights Law and European Business and Commercial Law.</p>
      <p>Ms. White was born and raised in the suburbs of Chicago, IL. She graduated from the University of Tennessee-Knoxville with a degree in Political Science and a concentration in International Affairs where she also studied abroad in Florence, Italy. After graduating from UTK, Ms. White worked at a family law firm in Kane County, where she developed her goal of pursuing a career within child and family law.</p>
      <p>Ms. White is passionate about assisting clients through what may be the most difficult time in their life. She concentrates on providing  compassionate, yet fierce advocacy for clients and their families.</p>
      <p>Ms. White now lives in Chicago, IL with her dog, Lulu. She enjoys traveling internationally, trying all the restaurants Chicago has to offer, and spending time with her family and friends.</p>
      <p>Associations: American Bar Association and Chicago Bar Association </p>
    </div>
  </article>
</div>
