<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/danielle.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Danielle R. Crumb</h3>
      <p>Danielle R. Crumb earned her Juris Doctorate in 2012 from DePaul University College of Law where she also obtained a Specialization Certificate in International and Comparative Law. Ms. Crumb is licensed to practice in the State of Illinois and in the United States District Court for the Northern District of Illinois. Prior to earning her Juris Doctorate, Ms. Crumb graduated from the University of Illinois Urbana-Champaign with a Bachelor of Science in Psychology and a minor in French. </p>
      <p>While at DePaul University College of Law, Ms. Crumb was an elected member on the editorial board of DePaul’s Journal for Social Justice. In addition, she received the Chancellor’s Award for Service for her volunteer legal work and participated in the Human Rights in the Americas program. She remains committed to social justice and serving the community while practicing today. </p>
      <p>As a practitioner, Ms. Crumb has dedicated her practice to the area of family law with additional knowledge in the areas of immigration, personal injury and foreclosure.  This additional experience coupled with her background in psychology enables Ms. Crumb to successfully navigate the complex emotional and legal aspects of domestic relations litigation. Ms. Crumb prides herself on honest communication, zealous advocacy and a passionate dedication to her clients and their families.  </p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li> <a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i> </a> </li>
        <li> <a href="https://www.linkedin.com/pub/danielle-crumb/57/414/29" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i> </a> </li>
      </ul>
    </div>
  </article>
</div>
