<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/diprimio.jpg" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h2>Gabrielle DiPrimio</h2>
      <h3>Associate Attorney</h3>
      <p>The legal process can be intimidating and is often times a journey. Gabrielle recognizes the importance of providing her clients with a roadmap of how to best get to the other side. To that end, she has made it her objective to be a patient, yet zealous advocate who strives to ensure that all her clients are provided with detail oriented, diligent, and conscientious representation. Gabrielle prides herself on working to understand each client, their perspective, objectives and needs in order to be an effective and ardent litigator both in the courtroom and at the settlement table. It is important to her that her clients are armed with the facts and educated with the knowledge and insight to make the best decisions for themselves and their families when confronted with difficult and sensitive divorce and/or custody issues.</p>
      <p>Gabrielle focuses her practice on allocation of parental responsibilities, parenting-time, property division, maintenance, child support, and various post-decree enforcement and/or modification issues.</p>
      <p>Gabrielle earned her Juris Doctorate from Chicago-Kent College of Law in 2016 where she earned the CALI award for Trial Advocacy II. Prior thereto, Gabrielle graduated with Honors from Indiana University Bloomington Indiana with a Bachelor of Arts in History in 2012</p>
      <p>Outside of the Courtroom Facts: Dog Lover. Food connoisseur. Tennis Enthusiast.</p>
    </div>
  </article>
</div>
