<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/gamino.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h2>Misty Gamino</h2>
      <h3>Associate Attorney</h3>
      <p>Misty Gamino focuses her practice exclusively in domestic relations. She represents clients in various aspects of dissolution of marriage and parentage proceedings, including allocation of parental responsibilities, parenting time and decision-making, maintenance, property division, post-dissolution matters, prenuptial agreements and all other family law related matters.</p>
      <p>Ms. Gamino received a Juris Doctor from Chicago-Kent College of Law in 2013 and obtained her license to practice law in the State of Illinois that same year. During law school, Ms. Gamino made the Dean’s List several times, interned at the Chicago-Kent Immigration Clinic, and clerked for a well-respected guardian ad litem. It was during law school that Ms. Gamino found her passion for family law and became a member of the Child and Family Law Society at Chicago-Kent College of Law. Prior to attending law school, Ms. Gamino attended Northwestern University where she earned a Bachelor of Arts in English Literature.</p>
      <p>Prior to joining Reed, Centracchio & Associates in early 2020, Ms. Gamino gained invaluable experience litigating complex family law issues at other law firms. Ms. Gamino recognizes the importance of listening to her clients and she carefully crafts each case to accomplish her clients’ goals. Ms. Gamino gives her clients honest advice and represents them through both strategically negotiated settlements and, when necessary, fiercely fought litigation.</p>
      <p>Languages: Spanish (bilingual)</p>
    </div>
  </article>
</div>
