<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/karjaka.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h2>Lydia A. Karjaka</h2>
      <h3>Associate Attorney</h3>
      <p>Lydia A. Karjaka was awarded her Juris Doctorate in 2013 from Michigan State University College of Law in East Lansing, Michigan, where she obtained a Certificate in Child and Family Advocacy and earned the highest grade in her Matrimonial Practice course. She is now licensed to practice in the State of Illinois and a member of the Chicago Bar Association. Prior to law school, Ms. Karjaka graduated with High Distinction from Indiana University in Bloomington, Indiana, earning a Bachelor of Arts in Criminal Justice and Sociology.</p>

      <p>Ms. Karjaka has concentrated her practice primarily in child and family law and has represented clients in all aspects of domestic relations matters, including divorce, custody disputes, property division, child support and post-decree matters.</p>

      <p>During her legal career, Ms. Karjaka has served as a Guardian ad Litem, representing and protecting abused and neglected children in juvenile court as well as adults and minor children in contested guardianship proceedings in probate court. As a Staff Attorney in a not-for-profit organization, Ms. Karjaka concentrated her work in adoption law and probate matters for low-income families. Ms. Karjaka believes in providing her clients with focused, compassionate and individualized representation. She understands not only the importance of listening to her clients, but also the goal of providing her clients with practical and effective solutions.</p>

      <p><b>Honors:</b> Phi Beta Kappa Academic Honor Society</p>
    </div>
  </article>
</div>