<div class="col-sm-6">
  <article>
    <div><img src="images/team/maliha.png" alt="Picture of Maliha Siddiqui" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Maliha Siddiqui</h3>
      <p>Maliha Siddiqui focuses her practice in all areas of family law, including the allocation of parenting time and responsibilities, child support, maintenance, property division, and domestic violence.</p>
      <p>Ms. Siddiqui graduated with honors from the University of Illinois in Chicago with a double major of English and Political Science. She received a Juris Doctor from DePaul University College of Law in May 2015 and was admitted to the Illinois Bar in November 2015.  While in law school, she began her career as a law clerk in the domestic relations division at the Chicago Legal Clinic, a local non-profit organization, and advocated on behalf of clients in domestic violence and divorce proceedings as a §711 student attorney, using her skill and experience to successfully resolve contested matters.  She later clerked at several well-known law firms, focusing on family law litigation.</p>
      <p>Prior to joining Reed, Centracchio & Associates, Ms. Siddiqui was an associate attorney at two other family law firms.  As a lifelong resident of the Chicagoland area, she is dedicated to public service and the legal community.  Ms. Siddiqui serves as the Secretary of the Chicago Legal Clinic’s Auxiliary Board, Vice President of Public Relations for the South Asian Bar Association of Chicago and is an active member of the Diversity Committee and Young Lawyer’s Division of the Illinois State Bar Association.</p>
      <p>Outside of the legal community, Ms. Siddiqui volunteers her time at PAWS Chicago; she even completed the 2016 New York Marathon to raise funds for the shelter.</p>
      <p>Languages: Urdu and Spanish</p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
      </ul>
    </div>
  </article>
</div>
