<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/reed.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h2>Bryan Reed</h2>
      <h3>Principal Attorney</h3>
      <p>Bryan V. Reed has twenty-seven years of trial experience in state and federal courts. He is admitted and
        authorized to practice before the United States Supreme Court; all state courts throughout Illinois; the U.S.
        District Court, Northern District of Illinois; the U.S. Court of Appeals, Seventh Circuit; and the Federal
        Trial Bar.
      </p>
      <p>
        Whether a high asset divorce, a complex custody matter, a substantial maintenance issue, or a large child
        support collection case, Mr. Reed draws from strategies that he has successfully honed in countless courtroom
        trials. To bring a further challenge to his regular divorce practice and to keep his litigation skills their sharpest, Mr. Reed for many years additionally chaired arbitration cases where he governed the
        proceedings, ruled on objections and admissibility of evidence, and led the panel in determining an award.
      </p>
      <p>International clients value Bryan V. Reed’s understanding of foreign languages and culture and find that they
        relate easily to him. Prior work assignments in France, Germany, and the United Kingdom have enabled Mr. Reed
        to establish a strong rapport with clients from nearly every EU country, as well as Canada, and many other
        countries around the world. He meets with clients in the firm’s affiliated office in Lyon, France, on an
        as-needed basis and regularly works on international family issues with his affiliated colleagues in Rome and
        Milan, Italy.</p>
      <p>Bryan V. Reed was born in Takoma Park, Maryland. He graduated from the University of Louisville with a B.S.
        degree in political science and from NKU Salmon P. Chase College of Law in the greater Cincinnati area with a
        Juris Doctor degree. In addition to his current firm, he has also been a managing partner in three prior law
        firms.</p>
      <h3>Accomplishments</h3>
      <p><b>Publications:</b> Numerous articles as a family law columnist in international newspaper
        publications; A Proactive Approach to International Collections, as seen in publications by the Belgian Trade
        Commission and the Swiss-American Business council; and various past articles and attorney profiling in Divorce
        Magazine.</p>
      <p><b>Speaking Engagements:</b> The Christian Legal Society National Convention (Taking Your Divorce Practice to a Higher Level - November 2019); The Chicago Bar Association International and Foreign Law Committee
        (International
        Marriage and Divorce Issues – May 2013); Union des Français de l’Étranger section Chicago (UFEC) (Planning for
        the future; dealing with the past. Advice from a family law attorney on making the best of international
        relationships – September 2013); and other family law presentations for non-profit organizations.</p>
      <p><b>Honors:</b> Repeatedly selected by peers as a Leading Lawyer in Chicago</p>
      <p><b>Affiliations:</b> Illinois State Bar Association, Chicago Bar Association, DuPage County Bar Association,
        L’Association des Français et Francophones de Chicago; Anglo Italian Law, and Christian Legal Society.</p>
      <p><b>Practice Areas:</b> All areas of family law</p>
      <p><b>Languages:</b> French</p>
      <p><b>E-mail:</b> Provided upon request. See our Contact Us page.</p>
      <p><a rel="me" href="http://www.avvo.com/attorneys/60601-il-bryan-reed-1128286.html"><img alt="Avvo Bryan Reed"
            id="avvo_badge" src="//images.avvo.com/avvo/cms/images/amos_assets/microbadge.png" /></a></p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i
              class="icon-facebook-1 iconRounded"></i></a></li>
        <li><a href="https://www.linkedin.com/in/bryanvreed/" class="tips" title="" data-original-title="follow me on Linkedin"><i
              class="icon-linkedin-1 iconRounded"></i></a></li>
      </ul>
    </div>
  </article>
</div>