<div class="col-sm-6">
  <article>
    <div><img src="images/team/reed.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h3>Bryan Reed</h3>
      <p>Bryan V. Reed has nearly twenty-five years of trial experience in state and federal courts.  He is admitted and authorized to practice before the United States Supreme Court; all state courts throughout Illinois; the U.S. District Court, Northern District of Illinois; the U.S. Court of Appeals, Seventh Circuit; and the Federal Trial Bar.</p>
      <p>Whether a high asset divorce, a complex custody matter, a substantial maintenance issue, or a large child support collection case, Mr. Reed draws from strategies that he has successfully honed in countless courtroom trials. To augment his litigation skills, Mr. Reed periodically chairs arbitration cases, where he governs the proceedings, rules on objections and admissibility of evidence, and leads the panel in determining an award.</p>
      <p>International clients value Bryan V. Reed’s understanding of foreign languages and culture and find that they relate easily to him. Prior work assignments in France, Germany, and the United Kingdom have enabled Mr. Reed to establish a strong rapport with clients from nearly every EU country, as well as Canada, and many other countries around the world.  He meets with clients in the firm’s affiliated office in Lyon, France, on an as-needed basis.</p>
      <p>Bryan V. Reed was born in Takoma Park, Maryland. He graduated from the University of Louisville with a B.S. degree in political science and from NKU Salmon P. Chase College of Law in the greater Cincinnati area with a Juris Doctor degree. In addition to his current firm, he has also been a managing partner in three prior law firms.</p>
      <h3>Accomplishments</h3>
      <p>Publications: Numerous articles as a family law columnist in the newspaper “Hi India”; A Proactive Approach to International Collections, as seen in publications by the Belgian Trade Commission and the Swiss-American Business council; and various part articles and attorney profiling in Divorce Magazine.</p>
      <p>Speaking Engagements: The Chicago Bar Association International and Foreign Law Committee (International Marriage and Divorce Issues – May 2013); Union des Français de l’Étranger section Chicago (UFEC) (Planning for the future; dealing with the past. Advice from a family law attorney on making the best of international relationships – September 2013); and other family law presentations for non-profit organizations.</p>
      <p>Affiliations: Illinois State Bar Association, Chicago Bar Association, and DuPage County Bar Association.</p>
      <p>Practice Areas: All areas of family law</p>
      <p>Languages: French</p>
      <p>E-mail: Provided upon request. See our Contact Us page.</p>
      <p><a rel="me" href="http://www.avvo.com/attorneys/60601-il-bryan-reed-1128286.html"><img alt="Avvo Bryan Reed" id="avvo_badge" src="//images.avvo.com/avvo/cms/images/amos_assets/microbadge.png" /></a></p>
    </div>
    <div class="boxContent color1">
      <ul class="socialNetwork mt15">
        <li><a href="https://www.facebook.com/familylawattorneyforyou" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
        <li><a href="https://www.linkedin.com/in/bryanvreed/" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
      </ul>
    </div>
  </article>
</div>
