<div class="col-sm-6 team">
  <article>
    <div><img src="images/team/seaholm.png" alt="" class="img-responsive"></div>
    <div class="boxContent color4">
      <h2>Emily Seaholm</h2>
      <h3>Associate Attorney</h3>
      <p>Emily Seaholm earned her Juris Doctorate in 2018 from DePaul University College of Law. Ms. Seaholm is licensed to practice in the State of Illinois and is a member of the Chicago Bar Association. Prior to attending law school, Ms. Seaholm graduated from Illinois State University with a degree in Organizational Leadership. After graduating from Illinois State University, Ms. Seaholm worked at several major corporations. However, after four years, compelled to create a more substantial change for those around her, she began studying at DePaul University College of Law.</p>

      <p>While in law school, Ms. Seaholm was selected as a Kott Gerontology Fellow where she worked as a licensed student attorney, assisting low-income seniors and individuals with disabilities with divorce proceedings and estate planning.</p>

      <p>Ms. Seaholm was also chosen to participate in multiple international law programs allowing her to study Human Rights Law and International Criminal Law in Costa Rica and The Hague. In addition, Ms. Seaholm assisted in drafting a Shadow Report to Kenya’s State Report to the United Nations Committee on the Elimination of All Forms of Discrimination Against Women.</p>

      <p> Ms. Seaholm is passionate about providing assistance to others in her local and global community. Ms. Seaholm’s volunteer experience ranges from local state prisons to Puerto Rico, Guatemala and Zimbabwe. Ms. Seaholm’s goal has always been to bring about both substantial and sustainable change for those around her. She brings this same zealousness as an advocate for her clients at Reed, Centracchio & Associates.</p>
    </div>
  </article>
</div>